<main>
  <section class="pt-md-7 pb-7 pb-md-9">
    <div class="container">
      <h2 class="title-deco py-7 py-md-9 text-center text-primary-700 tracking-wide fw-semibold"><%- page.title %></h2>
      <p class="text-center">有合作需求或想深入了解我如何優化網頁體驗，歡迎透過下方方式聯繫我。期待與您合作！</p>
    </div>
  </section>